:root {
    --background-color: rgba(255, 255, 255, 1);
    --honey-color: rgba(235, 150, 5, 1);
    --wood-color: rgba(160, 82, 45, 1);
    --leaf-color: rgba(52, 168, 83, 1);
    --font-color2: black;
    --menu-content: silver;
}

* {
    padding: 0;
    margin: 0;
}
body {
    /* background: url('../images/logo.png') no-repeat; */
}

/* Home page */
header > .wrapper {
    display: flex;
}

.logo {
    width: 30%;
    height: auto;
}

.logo img {
    max-width: 100%;
    height: auto;
}


.home-nav {
    margin-top: 12px;
    margin-left: 30px;
}

.home-nav a {
    margin-left: 12px;
    color: var(--leaf-color);
}

.lead-banner {
    text-align: center;
}

.lead-banner img {
    width: 99%;
}

.main-content .wrapper h2 {
    text-align: center;
    color: var(--leaf-color);    
}

/* End of home page style */

header{
    color: white;
}

nav {
    display: flex;
    padding: 6px;
    background: var(--leaf-color);
    justify-content: space-between;
    align-items: center;
}

.nav-left {

}

.hamburger-layer {
    width: 42px;
    height: 9px;
    background: white;
    margin: 6px 0px;
}

.hamburger-menu:active > .hamburger-layer {
    background: red;
}

.nav-mid{

}

.nav-right {

}

.drop-menu {
    display: none;
    padding: 12px;
    background: rgba(52, 168, 83, 0.6);
}

.drop-menu ul li {
    text-align: center;
    list-style: none;
}

.drop-menu ul li button {
    /* background: var(--honey-color); */
    font-weight: bold;
    /* color: white; */
    padding: 12px;
    width: 90%;
    margin: 12px;
}

.login-form {
    text-align: center;
    display: none;
}

.login-form ul li {
    margin: 21px;
}

.login-form ul li input {
    width: 90%;
    border: 0px;
    border-bottom: 2px solid var(--wood-color);
    outline: 0px;
    padding: 12px 3px;
    padding-bottom: 0px;
}

.login-form ul li button {
    width: 90%;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
}



.link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
