:root {
    --background-color: rgba(255, 255, 255, 1);
    --honey-color: rgba(235, 150, 5, 1);
    --wood-color: rgba(160, 82, 45, 1);
    --leaf-color: rgba(52, 168, 83, 1);
    --font-color2: black;
    --menu-content: silver;
}

* {
    padding: 0;
    margin: 0;
}
body {
    /* background: url('../images/logo.png') no-repeat; */
}


/* navigation bar */

header{
    color: white;
}

nav {
    display: flex;
    padding: 6px;
    background: var(--wood-color);
    justify-content: space-between;
    align-items: center;
}

.nav-left {

}

.hamburger-layer {
    width: 42px;
    height: 9px;
    background: white;
    margin: 6px 0px;
}

.hamburger-menu:active > .hamburger-layer {
    background: red;
}

.nav-mid {

}

.nav-mid .language select {
    border: none;
    padding: 6px 12px;
    width: 100%;
}

.nav-right {
    color: white;
}

.nav-right h4 {
    cursor: pointer;
}

.drop-menu {
    display: none;
    padding: 12px;
    background: rgba(52, 168, 83, 0.6);
}

.drop-menu ul li {
    text-align: center;
    list-style: none;
}

.drop-menu ul li button {
    /* background: var(--honey-color); */
    font-weight: bold;
    /* color: white; */
    padding: 12px;
    width: 90%;
    margin: 12px;
}

.login-form {
    text-align: center;
    display: none;
}

.login-form ul li {
    margin: 21px;
    list-style: none;
}

.login-form ul li input {
    width: 90%;
    border: 0px;
    border-bottom: 2px solid var(--wood-color);
    outline: 0px;
    padding: 12px 3px;
    padding-bottom: 0px;
}

.login-form ul li button {
    width: 90%;
    padding: 12px;
    margin: 12px;
    font-weight: bold;
}

/* end of navigation bar */


.lead-banner {
    text-align: center;
}

.lead-banner img {
    width: 99%;
}

.title {
    text-align: center;
}

.title h4 {
    margin: 3px auto;
    display: inline-block;
    text-align: center;
    padding: 6px 42px;
    background-color: var(--leaf-color);
    color: white;
    border-radius: 6px;
}

.wrapper {
    padding: 6px;
}

section {
    margin-top: 18px;
}

section .desc > p {
    color: var(--wood-color);
}

#ads {
    margin-top: 24px;
}

.ads-banner {
    text-align: center;
}

.ads-banner a img {
    max-width: 99%;
}

footer {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* End of home page style */

.link { enter your phone number
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.input-error {
    background: red;
}
